# Node.js dependencies
node_modules/

# Prisma generation and ERD
generated/

# Javascript files
dist/

# Coverage de tests
coverage/

# Environment variables
.env
.mal-token.json

# Firebase Service Account Key
serviceAccountKey.json

# Claude settings
.claude/

.agents